<app-full-screen-loading *ngIf="isLoading"></app-full-screen-loading>
<div *ngIf="!isLoading" class="note_editor full_width slideInRight">

    <div class="note_editor_header flex align_items_center">
        <p>Create Your sticky note here</p>
        <app-button [routerLink]="['/notes']" icon="bi bi-arrow-return-left"></app-button>
    </div>
    <div class="note_editor_container">
        <app-input [id]="'note_title'" [(inputValue)]="noteTitle" placeholder="enter the title" label="Title"
            fontSize="18px"></app-input>
        <app-input [id]="'note_title'" [(inputValue)]="color" placeholder="choose a color" label="Color" fontSize="18px"
            inputType="color"></app-input>
        <ckeditor [editor]="editor" data="<p>Hello, world!</p>" [(ngModel)]="data" (change)="onChange($event)"
            (ready)="onReady($event)" [config]="editorConfig">
        </ckeditor>
    </div>
    <div class="btn_container">
        <app-button [isLoading]="isLoadingBtn" [id]="'btn_save'" [btnType]="['success']" text="save"
            icon="bi bi-sd-card-fill" (btnClick)="save()"></app-button>
        <app-button [id]="'btn_remove'" text="remove" icon="bi bi-trash-fill"
            (btnClick)="handleModalShow()"></app-button>
    </div>
    <app-modal [modalType]="'asking'" [message]="modalMessage" [showModal]="showModal" (onYesClick)="deleteNote()"
        (onNoClick)="handleModalShow()"></app-modal>

</div>