<div class="login_container">
    <div class="brand_image"><img src="../../../../assets/header/keep-notes-logo.png" alt=""></div>
    <div class="loginform">
        <app-input id="username" inputType="text" [(inputValue)]="username" placeholder="username" label="Username"
            color="#fff"></app-input>
        <app-input id="password" inputType="password" [(inputValue)]="password" placeholder="password" label="Password"
            color="#fff"></app-input>
        <app-button (btnClick)="login()" [id]="'login_submit'" [btnType]="['full_width']" text="Login"></app-button>
    </div>
</div>