header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    user-select: none;
    background-color: #51438e;
}

.brand_img {
    height: 40px;
    margin-right: 20px;
    user-select: none;
    -webkit-user-drag: none;
}

header h1 {
    font-size: 1.4rem;
    font-weight: 700;
}

header h1 strong:first-child {
    color: #ffca28;
}

header h1 strong:last-child {
    color: #29b6f6;
}

.search_container {
    width: 40%;
    margin-left: 20px;
}