<div class="notes_page full_width slideInLeft">
    <div class="title_page_header align_items_center">
        <div class="search_bar flex align_items_center">
            <div class="notes_title">Sticky Note</div>
            <app-input [showLable]="false" id="search_note" inputType="text" placeholder="find your notes"></app-input>
        </div>

        <app-button [routerLink]="['/notes/add-note/']" icon="bi bi-plus-lg"></app-button>
    </div>

    <div class="notes_container">
        <app-loading *ngIf="isLoading"></app-loading>
        <app-note *ngFor="let item of allNotes" [color]='item.color' [data]='item.data' [title]='item.title'
            [lastUpdate]='item.lastUpdate' [createdAt]="item.createdAt" [enable]="item.enable" [userId]='item.userId'
            [id]="item.id"></app-note>
        <h3 *ngIf="emptyMessage">{{emptyMessage}}</h3>
    </div>
</div>