.note {
    min-width: 200px;
    max-width: 500px;
    height: 300px;
    margin: 8px;
    position: relative;
    overflow: hidden;
}

.note i {
    margin-left: 0;
}

.note_date {
    font-size: 0.6rem;
}

.note .note_header {
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.note .note_header .note_title_container {
    line-height: 20px;
}

.note_title {
    font-size: 16px;
    margin-bottom: 10px;
}

.note_settings .setting_icon {
    cursor: pointer;
    padding: 30px;
    padding-right: 0;
    font-size: 18px;
}

.note_settings .setting_icon i {
    margin-right: 0;
}

.setting_icon:hover+.setting_menu {
    transform: translateY(0px);
}

.note_settings .setting_menu {
    border-radius: 5px;
    width: 120px;
    position: absolute;
    background-color: #fff;
    z-index: 100;
    right: 0;
    font-size: 0.8rem;
    padding: 10px;
    list-style: none;
    transform: translateY(-160px);
    transition: all .2s ease-in-out;
    transform-origin: top;
    top: 30px;
    right: 5px;
    box-shadow: 0px 0px 4px 1px #9b9999;
}

.note_settings .setting_menu li {
    padding: 4px;
}

.note_settings .setting_menu li:hover {
    font-weight: bold;
    color: #fff;
    background-color: var(--orange);
    border-radius: 5px;
}

.note_settings .setting_menu:hover {
    transform: translateY(0px);

}


.note textarea {
    padding: 10px;
    font-size: 0.8rem;
    background-color: #ffffff85;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    resize: none;
    overflow-y: scroll;

}

/* 
transform-origin: left top;
left: 707.797px;
top: 265.781px;
transform: scale(1);
opacity: 1;

*/