<div class="note entering-animation box_shadow " [ngStyle]="{'background-color':color}">
    <div class="note_header">

        <p class="note_title_container"><i class="bi bi-sticky-fill"></i>
            <span class="note_title">{{title}}</span>
            <br /><span class="note_date">{{formattedDate}}</span>
        </p>

        <div class="note_settings">
            <span class="setting_icon"><i class="bi bi-three-dots"></i></span>
            <div class="setting_menu">
                <ul>
                    <li *ngIf="enable"><a [routerLink]="['/notes/edit-note/',id]"><i
                                class="bi bi-arrows-angle-expand"></i>open
                            note
                        </a></li>
                    <li *ngIf="enable"><i class="bi bi-pin-fill"></i>Pin</li>
                    <li *ngIf="enable" (click)="moveToTrash()"><i class="bi bi-trash-fill"></i>remove</li>
                    <li *ngIf="!enable" (click)="moveFromTrash()"><i class="bi bi-reply-fill"></i>Restore</li>
                    <li *ngIf="!enable" (click)="deleteForever()"><i class="bi bi-x"></i>Delete forever</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="box_input ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred">
        <div class="content" [innerHTML]="data"></div>
    </div>
</div>